@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.container {
  width: 1140px;
  margin: 0;
  margin-top: -50px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
nav {
  display: flex;
  gap: 50px;
  cursor: pointer;
  text-shadow: rgb(29, 31, 31) 3px 4px 19px;
}
p{
  font-size: 20px;
}
body,
a,
h1 {
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 0;
}
a {
  font-weight: bold;
}
#cover {
  height: 757px;
  display: flex;
  align-items: center;
  background-image: url(media/main.jpg);
  margin: 0;
  margin-top: 50px;
}
.main{
  margin: auto;
}
h1 {
  font-weight: 700;
  font-size: 128px;
  color: white;
  margin-left: 130px;
  text-shadow: rgb(29, 31, 31) 3px 4px 19px;
  -webkit-text-stroke: 2px black;
}
.about-us-content {
  display: flex;
  align-items: center;
  gap: 50px;
}
#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.about{
  font-weight: 550;
}
.design {
  font-weight: 400;
  font-size: 32px;
  color: white;
  margin-left: 130px;
}
.sculls {
  width: 465px;
  height: 580px;
  -webkit-box-shadow: 0px 0px 141px 63px rgba(215, 84, 143, 0.4);
  -moz-box-shadow: 0px 0px 141px 63px rgba(215, 84, 143, 0.4);
  box-shadow: 0px 0px 141px 63px rgba(215, 84, 143, 0.4);
  border-radius: 30px;
}
#but {
  font-weight: 500;
  font-size: 32px;
  height: 57px;
  width: 289px;
  background-color: #f93b89;
  border-radius: 15px;
  margin-top: 42px;
  margin-left: 130px;
  cursor: pointer;
  border: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  box-shadow: 0 0 10px, inset 1px 0 10px;
}

.tariff {
  width: 364px;
  border-radius: 26px;
  box-shadow: 0 0 10px;
}
.card_headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#catalog {
margin: auto;
margin-top: 50px;
}

button {
  height: 45px;
  width: 250px;
  background-color: #f93b89;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  cursor: pointer;
  /* text-shadow: rgb(29, 31, 31) 3px 4px 19px; */
  box-shadow: 0 0 10px, inset 1px 0 10px;
  border-style: solid;
}

h2 {
  font-size: 48px;
  margin: 0;
}

.questions {
  background-image: url(./media/heart.jpg);
  position: relative;
  width: auto;
  height: 550px;
  margin-top: 100px;
}
.questions::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 30px;
}
input{
  padding-left: 10px;
}
.FAQ {
  font-size: 64px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
}

.reg {
  margin-right: 55px;
}

.register {
  border: 2;
  border-color: rgb(255, 255, 255);
  height: 58px;
  width: 360px;
  border-radius: 20px;
  background-color: black;
  opacity: 50%;
  color: white;
  font-size: 20px;
}
#portfolio{
  margin: auto;
  margin-top: 50px;
}
.box-s{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box{
  margin-top: 20px;
}
.img{
  width: 557px;
  box-shadow: 0 0 10px, inset 1px 0 10px;
  border-radius:25px ;
}
#contacts{
  background-image: url(./media/Rectangle\ 15.png);
  width: auto;
  height: 626px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contacts-item{
  display: flex;
  
}
.all-contacts{
  display: flex;
  
}

#portfolio{
  margin: auto;
  margin-top: 50px;
}
.box-s{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box{
  margin-top: 20px;
}
.img{
  width: 557px;
  box-shadow: 0 0 10px, inset 1px 0 10px;
  border-radius:25px ;
}
#contacts{
  background-image: url(./media/Rectangle\ 15.png);
  width: auto;
  height: 626px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contacts-item{
  display: flex;
  
}
.all-contacts{
  display: flex;
  
}

.contacts-description{
display: flex;
  align-items: center;
  gap: 100px;
}
.map{
  border-radius: 20px;
  width: 465px; 
  height: 406px;
  -webkit-box-shadow: 0px 0px 100px 30px rgba(46, 13, 28, 0.4);
  -moz-box-shadow: 0px 0px 100px 30px rgba(215, 84, 143, 0.4);
  box-shadow: 0px 0px 100px 30px rgba(215, 84, 143, 0.4);
}
.endpicture{
  display: flex;

  
}
/* footer{
  display: flex;



} */
.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  margin-top: 90px;
}
.end{
  margin-top: 90px;
}
.main-description{
display: flex;
justify-content: center;
gap: 300px;
}
